@import url('https://fonts.googleapis.com/css2?family=Exo&family=Orbitron:wght@600&display=swap');

/*-------the main container for the whole game*/
#main{
    background-color: whitesmoke;
    width: 550px;
    height: 600px;
    border: 5px solid black;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    margin-right: 100px;
    
}
/*-----the first row of colored buttons*/

#btnrow1{
    width: 545px;
    height: 180px;
    background-color: black;
    clear: both;
    
    }

#btn1{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn2{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn3{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn4{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
    margin-right: 27px;
}
/*---------the second row of colored buttons*/

#btnrow2{
    width: 540px;
    height: 180px;
    background-color: black;
    clear: both;
    margin-left: 0px;
    margin-top: 20px;
    
    }

#btn5{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn6{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn7{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn8{
    clear: both;
    width: 100px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
    margin-right: 27px;
}
/*---------light and dark colors for the buttons*/
        .color1 {
            background-color: darkgreen;
        }

        .light1 {
            background-color: #13FF75;
        }

        .color2 {
            background-color: goldenrod;
        }

        .light2 {
            background-color: yellow;
        }


        .color3 {
            background-color: darkred;
        }

        .light3 {
            background-color: red;
        }

        .color4 {
            background-color: darkblue;
        }

        .light4 {
            background-color: #73feff;
        }
        .color5 {
            background-color: darkorange;
        }
        .light5 {
            background-color: orange;
        }
        .color6 {
            background-color: darkorchid;
        }

        .light6 {
            background-color: lavender;
        }
        .color7 {
            background-color: darkcyan;
        }

        .light7 {
            background-color: cyan;
        }
        .color8 {
            background-color: darkolivegreen;
        }

        .light8 {
            background-color: lawngreen;
        }




/*---------main container for the controls*/

#controls{
    width: 540px;
    height: 240px;
    background-color: lightseagreen;
    clear: both;
    margin-left: 0px;
    
}
#name{
   width: 540px;
    height: 40px;
    background-color: lightseagreen;
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-family: Orbitron;
    font-size: 125%;
    color:white; 
     
}

#power{
    width: 125px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#instructionstxt{
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px;
     
}

#instructions{
    text-align: center;
    clear: both;
    font-family: Exo;
    background-color: transparent;
}

.bt {
            height: 40px;
            width: 60px;
            text-align: center;
            align-content: center;
            background-color: transparent;
            margin-top: 40px;
            margin-left: 20px;
            font-family: Exo;
    }
#start{
    width: 175px;
    height: 180px;
    background-color: lightseagreen;
    clear: both; 
}

#startbtn{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-color: red;
    background-color: red;
    margin-right:5px;
    font-family: Orbitron;
    font-size: 250%;
}

@media only screen and (max-width: 500px) {
  #main {
    background-color: whitesmoke;
    width: 385px;
    height: 600px;
    border: 5px solid black;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    
  }
  #btnrow1{
    width: 375px;
    height: 180px;
    background-color: black;
    clear: both;
    
  }

  #btn1{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn2{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn3{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn4{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
    margin-right: 27px;
}
  #btnrow2{
    width: 375px;
    height: 180px;
    background-color: black;
    clear: both;
    margin-left: 0px;

  }
  #btn5{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn6{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn7{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
}

#btn8{
    clear: both;
    width: 60px;
    height: 120px;
    column-gap: 10px;
    border-radius: 10%;
    margin-top: 25px;
    margin-left: 27px;
    margin-right: 27px;
}
  #controls{
    width: 375px;
    height: 240px;
    background-color: lightseagreen;
    clear: both;
    
}
  #name{
   width: 375px;
    height: 40px;
    background-color: lightseagreen;
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-family: Orbitron;
    font-size: 125%;
    color:white; 
     
}
#power{
    width: 125px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#instructionstxt{
    height: 50px;
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px; 
}

#instructions{
    text-align: center;
    clear: both;
    font-family: Exo;
    font-size: 100%;
    
}


#start{
    width: 100px;
    height: 150px;
    background-color: lightseagreen;
    clear: both; 
}

#startbtn{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: red;
    background-color: red;
    margin-right:5px;
    margin-top: 50px;
    font-family: Orbitron;
    font-size: 100%;
}
.bt {
            height: 40px;
            width: 60px;
            text-align: center;
            align-content: center;
            background-color: transparent;
            margin-top: 20px;
            margin-left: 20px;
            font-family: Exo;
        }





