@import url('https://fonts.googleapis.com/css2?family=Exo&family=Orbitron:wght@600&display=swap');

/*-------the main container for the whole game*/
#main{
    background-color: whitesmoke;
    width: 550px;
    height: 600px;
    border: 5px solid black;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    margin-right: 100px;
    
}
/*-----the first row of colored buttons*/

#btnrow1{
    width: 545px;
    height: 180px;
    background-color: black;
    clear: both;
    
    }

#btn1{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkgreen;
    margin-top: 25px;
    margin-left: 10px;
}

#btn2{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkorange;
    margin-top: 25px;
    margin-left: 15px;
}

#btn3{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkred;
    margin-top: 25px;
    margin-left: 15px;
}

#btn4{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkblue;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
/*---------the second row of colored buttons*/

#btnrow2{
    width: 545px;
    height: 180px;
    background-color: black;
    clear: both;
    
    }

#btn5{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkmagenta;
    margin-top: 25px;
    margin-left: 10px;
}

#btn6{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkolivegreen;
    margin-top: 25px;
    margin-left: 15px;
}

#btn7{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkviolet;
    margin-top: 25px;
    margin-left: 15px;
}

#btn8{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkturquoise;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

/*---------main container for the controls*/

#controls{
    width: 540px;
    height: 230px;
    background-color: lightseagreen;
    clear: both;
    
}
#name{
   width: 540px;
    height: 40px;
    background-color: lightseagreen;
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-family: Orbitron;
    font-size: 125%;
    color:white; 
     
}

#power{
    width: 125px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#instructionstxt{
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 5px; 
}

#instructions{
    text-align: center;
    clear: both;
    font-family: Exo;
}

#on{
    width: 30px;
    height: 30px;
    margin-left: 50px;
    clear: both;
}

#switch{
    text-align: center;
    margin-left: 28px;
    clear: both;
    font-family: Exo;
}

#start{
    width: 175px;
    height: 180px;
    background-color: lightseagreen;
    clear: both; 
}

#startbtn{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-color: red;
    background-color: red;
    margin-right:5px;
    font-family: Orbitron;
    font-size: 250%;
}

#counter{
    width: 170px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#level{
    width: 80px;
    height: 35px;
    background: red;
    margin-left: 50px;
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #000000;
}

#level1{
    text-align: center;
    font-family: Exo;
    margin-left: 43px;
}

#strict{
    width: 30px;
    height: 30px;
    margin-left: 55px;
    margin-top: 7px;
    clear: both;
}

#stricttxt{
    text-align: center;
    font-family: Exo;
    margin-left: 10px;
    margin-bottom: 3px;  
}

@media only screen and (max-width: 600px) {
  #main {
    background-color: whitesmoke;
    width: 385px;
    height: 600px;
    border: 5px solid black;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    
  }
  #btnrow1{
    width: 375px;
    height: 180px;
    background-color: black;
    clear: both;
  }
  #btnrow2{
    width: 375px;
    height: 180px;
    background-color: black;
    clear: both;
  }
  #controls{
    width: 375px;
    height: 230px;
    background-color: lightseagreen;
    clear: both;
}
  #name{
   width: 375px;
    height: 40px;
    background-color: lightseagreen;
    clear: both;
    text-align: center;
    margin-top: 10px;
    font-family: Orbitron;
    font-size: 125%;
    color:white; 
     
}
#power{
    width: 125px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#instructionstxt{
    height: 50px;
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px; 
}

#instructions{
    text-align: center;
    clear: both;
    font-family: Exo;
    font-size: 100%;
    
}

#on{
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-top: 20px;
    clear: both;
}

#switch{
    text-align: center;
    margin-left: 18px;
    clear: both;
    font-family: Exo;
}

#start{
    width: 100px;
    height: 150px;
    background-color: lightseagreen;
    clear: both; 
}

#startbtn{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: red;
    background-color: red;
    margin-right:5px;
    margin-top: 50px;
    font-family: Orbitron;
    font-size: 100%;
}

#counter{
    width: 65px;
    height: 180px;
    background-color: lightseagreen;
    clear: both;
}

#level{
    width: 50px;
    height: 30px;
    background-color: red;
    margin-left: 40px;
    font-family: Orbitron;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: #000000;
}

#level1{
    text-align: center;
    font-family: Exo;
    margin-left: 43px;
}

#strict{
    width: 20px;
    height: 20px;
    margin-left: 55px;
    margin-top: 7px;
    clear: both;
}

#stricttxt{
    text-align: center;
    font-family: Exo;
    margin-left: 20px;  
}
}




