/*-------the main container for the whole game*/
#main{
    background-color: whitesmoke;
    width: 550px;
    height: 600px;
    border: 5px solid black;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 50px;
    margin-right: 100px;
    
}
/*-----the first row of colored buttons*/

#btnrow1{
    width: 545px;
    height: 180px;
    background-color: black;
    clear: both;
    
    }

#btn1{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkgreen;
    margin-top: 25px;
    margin-left: 10px;
}

#btn2{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkorange;
    margin-top: 25px;
    margin-left: 15px;
}

#btn3{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkred;
    margin-top: 25px;
    margin-left: 15px;
}

#btn4{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkblue;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
/*---------the second row of colored buttons*/

#btnrow2{
    width: 545px;
    height: 180px;
    background-color: black;
    clear: both;
    
    }

#btn5{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkmagenta;
    margin-top: 25px;
    margin-left: 10px;
}

#btn6{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkolivegreen;
    margin-top: 25px;
    margin-left: 15px;
}

#btn7{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkviolet;
    margin-top: 25px;
    margin-left: 15px;
}

#btn8{
    clear: both;
    width: 50px;
    height: 120px;
    column-gap: 4px;
    border-radius: 10%;
    background-color: darkturquoise;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}


